{{!-- 
{{#each newCalories}}
<div >

<h2>Calories Result</h2>

<p>Name: {{this.name}}</p>
<p>Calories Burned: {{this.nf_calories}}</p>
<p>MET: {{this.met}}</p>
<p>Description: {{this.workout_description}}</p>
<p>Duration-: {{this.duration_min}}</p>

</div> 
{{/each}} --}}

