{{!-- <div id="nutritionResultsContainer">

    {{#each extractedData}}
    <h1>Nutrition Results for {{name}}</h1>
    <p>Calories: {{calories}}</p>
    <p>Protein: {{protein_g}}</p>
    <p>Carbs: {{carbohydrates_total_g}}</p>
    <p>Fat: {{fat_total_g}}</p>
    {{/each}}
</div> --}}