<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Results</title>
</head>

<body>
    <h1>Nutrition Results for {{food}}</h1>
    <p>Calories: {{calories}}</p>
    <p>Protein: {{protein}}</p>
    <p>Carbs: {{carbs}}</p>
    <p>Fat: {{fat}}</p>
</body>

</html>