

 

<div id="workoutResultContainer" class="container is-fluid">


  {{#each workoutData as |data| }}
  <p>Name: {{data.name}}</p>
  <p>Type: {{data.type}}</p>
  <p>Muscle: {{data.muscle}}</p>
  <p>Equipment: {{data.equipment}}</p>
  <p>Difficulty: {{data.difficulty}}</p>
  <p>Instructions: {{data.instructions}}</p>
  {{/each}}
</div> 


    <script src="/js/workout.js"></script> 
