{{!--  --}}
<div>
    <p>Age:{{age}}</p>
    <p>{{weight}}</p>
    <p>{{gender}}</p>
    <p>{{height}}</p>
    <p>{{met}}</p>
    <p>{{nf_calories}}</p>
    <p>{{duration_min}}</p>
  
</div>

{{!-- chart script shows here --}}